{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Centro de Tareas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fugit architecto laboriosam blanditiis tenetur optio sint laborum voluptates quod qui autem, nisi aliquid, in delectus explicabo dolore nemo alias saepe adipisci earum ut nulla dicta? Ad rerum, molestias nostrum numquam mollitia ullam culpa quasi aut cumque officia, laboriosam nesciunt fuga eius maiores in at placeat sunt. Officia aliquid est modi aspernatur vitae incidunt dignissimos ea accusantium impedit alias. Similique aliquid repellat deleniti nesciunt corporis tenetur placeat quibusdam ut doloremque tempora. Optio nam magni assumenda inventore nesciunt. Eaque commodi, in maiores, impedit error culpa fugit non id mollitia corporis vel repudiandae.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                signin
            </a> 
            <a class="btn btn-dark" href="/signup/">
                signup
            </a> 


        </div>

    </section>
</main>

{% endblock %}
