{% extends 'base.html' %}

{% block content %}

<h1>Tareas Completadas</h1>
<ul>
    {% for task in tasks %}

    <li>
        <a href="{% url 'task_detail' task.id %}">

            {% if task.important %}
            <strong>{{task.title}}</strong>
            {% else %}

            {{task.title}}

            {% endif %}

            <p>descripcion: {{task.description}}</p>
            <p>fecha de entrega: {{task.duedate}}</p>
            <p>creada por: {{task.user.username}}</p>
            <p>completada: {{task.datecompleted|date:'M j Y:i'}}</p>


        </a>
    </li>



    {% endfor %}
</ul>

{% endblock %}